.App {
  background-color: #eeeeee;
  height: 100vh;
}
.title {
  font-family: Monoton;
  font-size: 60px;
}

.detail {
  font-size: 20px;
  font-family: Turret Road;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 20px;
}
