.App {
  min-height: 100vh;
  background-color: #eeeeee;
  font-family: Share Tech Mono;
  padding-bottom: 20px;
}
.title {
  font-family: Monoton;
  font-size: 65px;
}
.playing-station {
  font-size: 30px;
  margin-left: 20px;
}
.detail {
  font-size: 20px;
  font-family: Turret Road;
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 20px;
}
